include .env.example
include .dockerignore
include CONTRIBUTING.md
include compose.yaml
include Dockerfile
include SECURITY.md
include uv.lock
recursive-include .github *.yml
recursive-include config *.yaml
recursive-include docs *.md
recursive-include tests *.py
